<div style="width: 800px;margin-left: auto; margin-right: auto; ">
    <img src="/images/myself.jpg" alt="A picture of me when I was younder" style="width:350px;margin-bottom:50px">
      <h1 style="margin: 50px;">Hengameh Khajehpour</h1>

      <table id="btns">
        <tr>
            I am Hengameh Khajehpour, I have master of Architecture 
            with 15 years experience, always I enjoyed computer working. 
            until last year I decided to start AI to learn that and combine 
            it with Architecture and design one designing Application in future. 
            I hope I can do that after finishing my college.
        </tr>
        <tr>
            <td> <a hid="btns" href="/CV.pdf" >See My CV</a></td>
        </tr>

    </table>  
  </div>
  
  