
<table>
  <tr>
    <td> <a href="mailto:hkhajehp@my.centennialcollege.ca"> Email Me </a></td>
  </tr>
  <tr>
    <td><a href="https://www.google.com/maps/@44.104268,-70.2021159,15z"> My Address </a> </td>
  </tr>
</table>


<form style="margin: 50px;">
        
  <div>
      <label for="Name">Your name</label>
      <div>
          <input type="text" name="Name" required>
      </div>
  </div>

  <div>
      <label for="Email">Your email address</label>
      <div>
          <input type="email" name="Email" required>
      </div>
  </div>

  <div>
      <label for="Message" >Your message</label>
      <div>
          <textarea name="Message" rows="6" maxlength="3000" required></textarea>
      </div>
  </div>

  <div>
      <button type="submit">Send Message</button>
  </div>

</form>
