
    <p id="copyright" style="font-size: small;color: #666666;padding-top: 250px;">&copy;&nbsp;Copyright&nbsp;&nbsp;Hengameh Khajehpour - Comp 229 - Fall 2021</p>  
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>