<div id="text">

  <h2>
       Hey, Welcome !
  </h2>
       
   <table id="btns">
       <tr>
           <td></td>
           <td><a href="/about"> About Me </a></td>
           <td></td>
       </tr>
   </table>          
</div>