<table id="btns">
    <tr>
        <td><img style="height: 200px;" src="/images/As01.png"></td>
        <td><img style="height: 200px;" src="/images/As02.png"></td>
        <td><img style="height: 200px;" src="/images/As03.png"></td>
    </tr>
    <tr>
        <td><a href="/Assignments/Assignment-01/index.html">Assignment 01</a></td>
        <td><a href="/Assignments/Assignment-02/index.html">Assignment 02</a></td>
        <td><a href="/Assignments/Assignment-03/index.htm">Assignment 03</a></td>
    </tr>
</table>