<table id="btns">
    <tr>
        <td>Web Devolopment</td>
        <td><img style="height: 200px;" src="/images/wd.png"></td>
    </tr>
    <tr>
        <td><img style="height: 200px;" src="/images/ma.jpeg"></td>
        <td>Mobile Application</td>
    </tr>
</table>